{namespace closure_boilerplate.templates}

/**
 * Animated spinner to indicate loading content
 */
{template .loadingAnimation}
<img class="{css loading_animation}" src="imgs/spinner_64x64.gif" alt="Loading...">
{/template}
