/*
 * =========================================
 * Helper Classes
 * =========================================
*/




/* Clearfix */
.cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

	*zoom: 1;
}


/* Elastic wrapper */
.stretcher {
	position: relative;
	min-width: @min-width;
	max-width: 960px;
	margin: 0 auto;
}


/* Center inline elements */
.center {
	text-align: center;
}