*.py[cod]

.waf-*
.lock-*

build

## vim -- https://github.com/github/gitignore/blob/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

## Virtualenv -- https://github.com/github/gitignore/blob/master/Global/VirtualEnv.gitignore
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
local
