{namespace closure_boilerplate.pages.guestbook.templates}

/**
 * Renders a list of guestbook entries
 */
{template .entryList}
    <div class="{css guestbook-entry_list}">
        <ul>
        </ul>
    </div>
{/template}
