{namespace relief.handlers.templates}


/**
 * @param header The header to show in bold
 * @param details The details to show for the message
 */
{template .genericError}
<div class="{css relief-handler-error}">
  <div class="{css relief-handler-error-header}">{$header}</div>
  <div class="{css relief-handler-error-details}">{$details}</div>
</div>
{/template}
