{namespace closure_boilerplate.pages.landing.templates}

/**
 * Renders the landing page welcome message.
 */
{template .landingPage}
<div class="{css welcome_pane}">
    <h2 class="{css heading}">Welcome!</h2>
    <a href="#/test">Test</a>
</div>
{/template}
